.content a {
	color: #385ea7;
	text-decoration: underline;
	font-weight: bold;
	padding-left: 1px;
	padding-right: 1px;
}

.content a:hover {
	background-color: #385fa700;
	color: #376ac9;
	border-radius: 4px;
}

#theme-toggle {
    background-color: #101828;
	border-radius: 127px;
	border-style: dashed;
	display: inline-block;
	text-transform: uppercase;
    text-decoration: none;
	height: 25px;
	padding: 20px;
	color: #385ea7;
	margin-top: 15px;
	margin-bottom: 10px;

    bottom: 15px;
    position: relative;
}

.constructionNotice {
	position: fixed;
	right: 0px;
	top: 0px;
	pointer-events: none;
	width: auto;
	z-index: 99;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background: url('img/darkbg.png') #111010;
	margin: 0px;
	padding: 0px;
	color: #333333;
	overflow-x: hidden;
	overflow-y: scroll;
}

.button {
	width: 300px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	border: 1px solid black;
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	border-radius: 10px;
	text-transform: uppercase;
}

.navBar {
	font-weight: bold;
	position: fixed;
	height: 60px;
	background: #ffffff00;
	text-align: left;
	z-index: 5;
}

.navBarRightSegment {
	position: absolute;
	text-align: right;
	width: 50%;
	left: 50%;
}

.navButton {
	background-color: #101828;
	border-radius: 127px;
	border-style: dashed;
	display: inline-block;
	text-transform: uppercase;
	height: 25px;
	padding: 20px;
	color: #385ea7;
	margin-top: 15px;
	margin-bottom: 10px;
}

.surveyButton {
	display: block;
	background-color: #385ea752;
	font-size: 30px;
	padding: 20px;
	border-radius: 10px;
	margin: 5px;
	-moz-box-shadow: 0 0 15px #000000db;
	-webkit-box-shadow: 0 0 15px #000000db;
	box-shadow: 0px 0px 15px #000000db;
}

.surveybox0 {
	display: inline-block;
    width: 390px;
    margin: 0px;
    padding: 0px;
    margin-bottom: -6px;
    vertical-align: top;
}
.surveybox1 {
	display: inline-block;
    width: 390px;
    margin: 0px;
    padding: 0px;
    margin-bottom: -6px;
    vertical-align: top;
}

.surveyButton:hover {
	background-color: #385fa77f;
}

.bigSurveyButton {
	font-size: 60px;
}

.navButtonEmphasis {
	background-color: #363e13;
}

.navbarLogo {
	position: absolute;
	left: calc(50% - 60px);
	top: calc(50% - 30px);
	width: 120px;
}

.littleNavTex {
	font-size: 11px;
}

.legalFooter {
	width: 100%;
	color: #999999;
	text-align: center;
	margin: 20px;
}

.contentContainer {
	width: 100%;
	text-align: center;
}

.content {
	width: calc(100% - 100px);
	max-width: 1200px;
	background: #1e1e1e;
	margin: auto;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	color: #b5b5b5;
	padding-bottom: 1px;
	-moz-box-shadow: 0 0 35px #000000db;
	-webkit-box-shadow: 0 0 35px #000000db;
	box-shadow: 0px 0px 35px #000000db;
}

h1 {
	font-size: 60px;
	width: calc(100% + 30px);
	background-color: #1c2f56;
	margin: 0px;
	margin-left: -15px;
	margin-bottom: -7px;
	color: #e1e1e1;
	text-transform: uppercase;
	padding: 0px;
	margin-top: 46px;
	-moz-box-shadow: 0 0 35px #000000db;
	-webkit-box-shadow: 0 0 35px #000000db;
	box-shadow: 0px 0px 35px #000000db;
	border-radius: 5px;
}

h3 {
	font-size: 16px;
	width: calc(100% + 30px);
	background-color: #a2bff9;
	margin: 0px;
	margin-left: -15px;
	color: white;
	text-transform: uppercase;
	padding: 0px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.firstSection {
	font-size: 16px;
	margin-bottom: 12px;
}

.faqColumn0 {
	display: inline-block;
	width: 390px;
	margin: 0px;
	padding: 0px;
	margin-bottom: -6px;
	vertical-align: top;
}
.faqColumn1 {
	display: inline-block;
	width: 390px;
	margin: 0px;
	padding: 0px;
	margin-bottom: -6px;
	vertical-align: top;
}

.loadingIndicator {
	height: 100px;
}

.sectionColumn {
	display: inline-block;
	width: 590px;
	margin: 0px;
	padding: 0px;
	margin-bottom: -6px;
	vertical-align: top;
}

.section {
	background-color: #dddddd;
	padding: 8px;
	border-radius: 4px;
	font-size: 12px;
	margin: 6px;
	text-align: left;
	margin-bottom: 16px;
}

.supportSection {
	background-color: #d2e38c;
	padding: 8px;
	border-radius: 9px;
	font-size: 12px;
	margin: 6px;
	text-align: center;
	margin-bottom: 16px;
}

.supportSection:hover {
	background-color: #f9ab6e;
}

h2 {
	background-color: #1c2f56;
	color: #e1e1e1d7;
	padding: 4px;
	width: calc(100% + 8px);
	margin-top: -8px;
	margin-left: -8px;
	border-radius: 4px;
	border-bottom-style: groove;
	border-bottom-color: #00000024;
}

.patchnotes h2 {
	margin-bottom: 0px;
}

.anchor {
	position: relative;
	top: -100px;
	font-size: 1px;
}

h4 {
	color: #e1e1e1d7;
	font-size: 30px;
	margin: 5px;
}

h5 {
	font-size: 10px;
	background-color: #d2e38c;
	border-radius: 4px;
	padding: 4px;
	text-transform: uppercase;
	margin: 5px;
}

.supportSection .sectionText {
	text-align: center;
}

.supportExplanation {
	padding: 45px;
	padding-top: 0px;
	font-size: 16px;
	color: #3a2c22;
}

.content p {
	display: inline-block;
	width: 89%;
	font-size: 36px;
	margin: 15px;
	text-align: left;
}

.definitionWord {
	font-size: 120px;
	font-family: 'Crimson Text', serif;
	display: inline;
	color: #b5b5b5;
}

.definitionPOS {
	font-size: 40px;
	font-family: 'Crimson Text', serif;
	display: inline;
	color: #b5b5b5;
}

.definitionText {
	font-size: 30px;
	font-family: 'Crimson Text', serif;
	margin-top: -15px;
	margin-bottom: 5px;
	color: #777777;
}

.colorBlock {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 15px #000000db;
	-webkit-box-shadow: 0 0 15px #000000db;
	box-shadow: 0px 0px 15px #000000db;
}

.colorBlock.blue {
	background-color: #0024ff0f;
	color: #385ea7;
}

.colorBlock img:first-child {
	margin-bottom: 1px;
}

.colorBlock.red {
	background-color: #f9b0a2;
	color: #6a3527;
}

img {
	width: 100%;
	margin: 0px;
    opacity: 0.9;
}

.imgf {
	height: 48px;
	width: 48px;
	border-radius: 100px;
}
.unloadedData{
	font-weight: bold;
	background-color: #385ea752;
	padding: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 5px;
}

.loadedData {
	font-weight: bold;
	background-color: #385ea752;
	padding: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 5px;
}

ul {
	width: 70%;
	text-align: left;
	margin-left: 12%;
}

li {
	margin-bottom: 3px;
	font-size: 22px;
}
a {
	padding: 10px; 
	color:#b5b5b5
}

.activityType {
	width: calc(95%-280px);
	background: #222222;
	text-align: left;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	overflow: hidden;
	vertical-align: text-top;
	min-height: 276px;
	background-repeat: no-repeat;
	padding-left: 280px;
	margin-bottom: 5px;
	-moz-box-shadow: 0 0 15px #000000db;
	-webkit-box-shadow: 0 0 15px #000000db;
	box-shadow: 0px 0px 15px #000000db;
}

.activityType p {
	font-size: 17px;
	width: auto;
	margin: 5px;
}

.activityType p:first-child {
	font-size: 18px;
	font-weight: bold;
}

.furryType {
	width: 35%;
	background: #222222;
	text-align: left;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	overflow: hidden;
	vertical-align: text-top;
	min-height: 115px;
	background-repeat: no-repeat;
	padding-left: 140px;
	background-size: 138px 256px;
	margin-bottom: 25px;
	-moz-box-shadow: 0 0 15px #000000db;
	-webkit-box-shadow: 0 0 15px #000000db;
	box-shadow: 0px 0px 15px #000000db;
}

.furryTypeImage {
	position: relative;
	left: 0px;
	top: 0px;
	width: 276px;
	height: 211px;
}

.furryType p {
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
}

.popularityCircle {
	width: 75px;
	top: -5;
	position: relative;
}

.furrydata {
	display: inline-block;
}

.totaldata {
	display: inline-block;
}

.loadingDataGIF {
	width: 20px;
	height: 20px;
}

.statsNote {
	background-color: #385ea71f;
}

.statsNote p {
	font-size: 15px;
	margin-bottom: 10px;
}

.activityType ul {
	margin: 0px;
	width: auto;
}

.activityType li {
	font-size: 16px;
	margin-top: 7px;
}

.noUnderline {
	text-decoration: none !important;
}

.barGraphLabel {
	display: inline-block;
	width: 45%;
	text-align: right;
	font-size: 17px;
	font-weight: bold;
}

.barGraphBar {
	color: #ffffff00;
	background-color: #385ea752;
	display: inline-block;
	height: 14px;
	border-radius: 3px;
	border: 1px solid #385fa7;
	margin-left: 6px;
}

.barGraphLine {
	margin-top: 10px;
}

.barGraphBlue {
	text-align: left;
	padding-bottom: 30px;
	width: 100%;
	margin-left: 10%;
}

.barGraph {
	margin-bottom: 30px;
}

.barGraphBarBlue {
	color: #ffffff00;
	background-color: #385ea752;
	display: inline-block;
	height: 14px;
	border-radius: 3px;
	border: 1px solid #385fa7;
	margin-left: 6px;
}

.rainbowTop {
	position: relative;
	left: -24px;
	width: 110%;
	height: 4px;
}

.sexAnswer {
	display: inline-block;
	width: 341px;
	background: #1e1e1e;
	color: #b5b5b5;
	border: 1px solid #555555;
	border-radius: 20px;
	padding: 15px;
	font-size: 40px;
	margin: 5px;
	margin-top: 15px;
}
.sexAnswer2 {
	display: inline-block;
	width: 330px;
	background: #1e1e1e;
	color: #b5b5b5;
	border: 1px solid #555555;
	border-radius: 20px;
	padding: 15px;
	font-size: 40px;
	margin: 5px;
	margin-top: 15px;
}

.sexAnswerFurryBox {
	display: inline-block;
	width: 25%;
	padding: 15px;
	margin: 5px;
}

.littleFurry {
	width: auto;
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: -30px;
}

.sexReasons p {
	font-size: 21px;
	width: auto;
	margin: 8px;
}

.faqText p {
	font-size: 16px;
	width: 90%;
	margin: auto;
	margin-bottom: 5px;
}

.section {
	background: #1e1e1e;
	-moz-box-shadow: 0 0 15px #000000db;
	-webkit-box-shadow: 0 0 15px #000000db;
	box-shadow: 0px 0px 15px #000000db;
}